{% extends 'bases/base.html' %}
{% block title %}
    車輛資料
{% endblock %}
{% block css %}
<style>
    .map-container {
        overflow: hidden;
        position: relative;
    }

    .map-container iframe {
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .form-group {
        margin-bottom: 1rem;
    }
</style>
{% endblock css %}

{% block js %}

{% endblock js %}
{% block container %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li>
    <a href="javascript:history.back()" class="btn btn-light"><i class="fas fa-arrow-left fa-1x"></i></a>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="car-tab" data-bs-toggle="tab" data-bs-target="#car-tab-pane" type="button" role="tab" aria-controls="car-tab-pane" aria-selected="true">車輛資料</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="gps-tab" data-bs-toggle="tab" data-bs-target="#gps-tab-pane" type="button" role="tab" aria-controls="gps-tab-pane" aria-selected="false">定位紀錄</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="car-tab-pane" role="tabpanel" aria-labelledby="car-tab" tabindex="0">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2 p-2" style="text-align:right;">車號：</div>
                    <div class="col-2 p-2 content">{{ car.CARNO }}</div>
                    <div class="col-2 p-2" style="text-align:right;">狀態：</div>
                    <div class="col-2 p-2 content"><span style="color: #{{ color }};">{{ car.FINDMODE }}</span></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2 p-2" style="text-align:right;">廠牌型式：</div>
                    <div class="col-2 p-2 content">{% if perms.users.view_cartype %}{{ car.CARTYPE }}{% endif %}</div>
                    <div class="col-2 p-2" style="text-align:right;">顏色：</div>
                    <div class="col-2 p-2 content">{{ car.CARCOLOR }}</div>
                    <div class="col-2 p-2" style="text-align:right;">年份：</div>
                    <div class="col-2 p-2 content">{{ car.CARAGE }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2 p-2" style="text-align:right;">單位：</div>
                    <div class="col-2 p-2 content">{{ car.COMPANY }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2 p-2" style="text-align:right;">帳號：</div>
                    <div class="col-2 p-2 content">{{ car.ACCNO }}</div>
                    <div class="col-2 p-2" style="text-align:right;">等級：</div>
                    <div class="col-2 p-2 content">{{ car.GRADE }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2 p-2" style="text-align:right;">承辦人：</div>
                    <div class="col-2 p-2 content">{{ car.COMPMAN }}</div>
                    <div class="col-2 p-2" style="text-align:right;">記號：</div>
                    <div class="col-2 p-2 content">{{ car.COMPANY2 }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2 p-2" style="text-align:right;">案件編號：</div>
                    <div class="col-2 p-2 content">{{ car.CASENO }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2 p-2" style="text-align:right;">建檔日期：</div>
                    <div class="col-2 p-2 content">{{ car.CDATE }}</div>
                    <div class="col-2 p-2" style="text-align:right;">異動日期：</div>
                    <div class="col-2 p-2 content">{{ car.CHGDATE }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2 p-2" style="text-align:right;">主保1：</div>
                    <div class="col-2 p-2 content">{{ car.OTH1 }}</div>
                    <div class="col-2 p-2" style="text-align:right;">主保2：</div>
                    <div class="col-2 p-2 content">{{ car.OTH2 }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2 p-2" style="text-align:right;">主保3：</div>
                    <div class="col-2 p-2 content">{{ car.OTH3 }}</div>
                    <div class="col-2 p-2" style="text-align:right;">主保4：</div>
                    <div class="col-2 p-2 content">{{ car.OTH4 }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2 p-2" style="text-align:right;">電話1：</div>
                    <div class="col-2 p-2 content">{{ car.TEL1 }}</div>
                    <div class="col-2 p-2" style="text-align:right;">電話2：</div>
                    <div class="col-2 p-2 content">{{ car.TEL2 }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2 p-2" style="text-align:right;">電話3：</div>
                    <div class="col-2 p-2 content">{{ car.TEL3 }}</div>
                    <div class="col-2 p-2" style="text-align:right;">電話4：</div>
                    <div class="col-2 p-2 content">{{ car.TEL4 }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2 p-2" style="text-align:right;">地址1：</div>
                    <div class="col-10 p-2 content">{{ car.ADDR1 }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2 p-2" style="text-align:right;">地址2：</div>
                    <div class="col-10 p-2 content">{{ car.ADDR2 }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2 p-2" style="text-align:right;">地址3：</div>
                    <div class="col-10 p-2 content">{{ car.ADDR3 }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2 p-2" style="text-align:right;">地址4：</div>
                    <div class="col-10 p-2 content">{{ car.ADDR4 }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2 p-2" style="text-align:right;">證號：</div>
                    <div class="col-2 p-2 content">{{ car.CID }}</div>
                    <div class="col-2 p-2" style="text-align:right;">債權：</div>
                    <div class="col-2 p-2 content">{{ car.DEBIT }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2 p-2" style="text-align:right;">異動紀錄：</div>
                    <div class="col-2 p-2 content">{{ car.CHGDATE }}</div>
                    <div class="col-2 p-2" style="text-align:right;">動保迄日：</div>
                    <div class="col-2 p-2 content">{{ car.ENDDATE }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2 p-2" style="text-align:right;">備註2：</div>
                    <div class="col-10 p-2 content">{{ car.NOTE2 }}</div>
                </div>
            </li>
        </ul>
  </div>
  <div class="tab-pane fade" id="gps-tab-pane" role="tabpanel" aria-labelledby="gps-tab" tabindex="0">
      <div class="accordion" id="accordion">
      {% for gps in gpss %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ gps.id }}" aria-expanded="false" aria-controls="collapse{{ gps.id }}">
                {{ gps.DATE_2 }} {{ gps.TIME_2 }}
              </button>
            </h2>
            <div id="collapse{{ gps.id }}" class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="#accordion">
                <div class="accordion-body">
                    <div class="form-group">
                        <label for="addr_2">單位</label>
                        <input type="text" id="addr_2" class="form-control" value="{{ gps.ADDR_2 }}" readonly="">
                    </div>

                    <div class="form-group">
                        <label for="gps_2a">經度</label>
                        <input type="text" id="gps_2a" class="form-control" value="{{ gps.GPS_2A }}" readonly="">
                    </div>

                    <div class="form-group">
                        <label for="gps_2b">緯度</label>
                        <input type="text" id="gps_2b" class="form-control" value="{{ gps.GPS_2B }}" readonly="">
                    </div>

                    <div class="form-group">
                        <label for="sales_2">人員</label>
                        <input type="text" id="sales_2" class="form-control" value="{{ gps.SALES_2 }}" readonly="">
                    </div>

                    <div class="form-group">
                        <label for="bingo_2">備註</label>
                        <input type="text" id="bingo_2" class="form-control" value="{{ gps.BINGO_2 }}" readonly="">
                    </div>

                    <div id="map-container-google-1" class="map-container" style="height: 500px">
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBcSG2Ts8xg39fyK9aO01AVH1d9N_AIhzg&amp;q={{ gps.GPS_2A }},{{ gps.GPS_2B }}" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>


                    <div class="form-group">
                        ​<div id="demo_1" class="carousel slide" data-ride="carousel"></div>
                    </div>
                </div>
            </div>
          </div>
      {% endfor %}
      </div>
  </div>
</div>
{% endblock container %}