{% extends "bases/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    會員編輯
{% endblock %}

{% block container %}
<a href="javascript:history.back()" class="btn btn-warning"><i class="fas fa-arrow-left fa-1x"></i></a>
<div class="large-box" style="padding: 20px 0px;">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="member_info" data-bs-toggle="tab" data-bs-target="#member_info-pane" type="button" role="tab" aria-controls="member_info-pane" aria-selected="true">會員資料</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="car_visible" data-bs-toggle="tab" data-bs-target="#car_visible-pane" type="button" role="tab" aria-controls="car_visible-pane" aria-selected="false">可視車單資料</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="login_record" data-bs-toggle="tab" data-bs-target="#login_record-pane" type="button" role="tab" aria-controls="login_record-pane" aria-selected="false">登入紀錄</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="postponed_record" data-bs-toggle="tab" data-bs-target="#postponed_record-pane" type="button" role="tab" aria-controls="postponed_record-pane" aria-selected="false">到期日展延紀錄</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="searching_record" data-bs-toggle="tab" data-bs-target="#searching_record-pane" type="button" role="tab" aria-controls="searching_record-pane" aria-selected="false">車單搜尋紀錄</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="searching_record2" data-bs-toggle="tab" data-bs-target="#searching_record2-pane" type="button" role="tab" aria-controls="searching_record2-pane" aria-selected="false">定位資料上傳紀錄</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="searching_record3" data-bs-toggle="tab" data-bs-target="#searching_record3-pane" type="button" role="tab" aria-controls="searching_record3-pane" aria-selected="false">定位照片上傳紀錄</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="searching_record4" data-bs-toggle="tab" data-bs-target="#searching_record4-pane" type="button" role="tab" aria-controls="searching_record4-pane" aria-selected="false">車單下載紀錄</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="member_info-pane" role="tabpanel" aria-labelledby="member_info" tabindex="0">
          {% include 'users/tab1.html' %}
      </div>
      <div class="tab-pane fade" id="car_visible-pane" role="tabpanel" aria-labelledby="car_visible" tabindex="0">
          {% include 'users/tab2.html' %}
      </div>
      <div class="tab-pane fade" id="login_record-pane" role="tabpanel" aria-labelledby="login_record" tabindex="0">
          {% include 'users/tab3.html' %}
      </div>
      <div class="tab-pane fade" id="postponed_record-pane" role="tabpanel" aria-labelledby="postponed_record" tabindex="0">
          {% include 'users/tab4.html' %}
      </div>
      <div class="tab-pane fade" id="searching_record-pane" role="tabpanel" aria-labelledby="searching_record" tabindex="0">
          {% include 'users/tab5.html' %}
      </div>
      <div class="tab-pane fade" id="searching_record2-pane" role="tabpanel" aria-labelledby="searching_record2" tabindex="0">
          {% include 'users/tab6.html' %}
      </div>
      <div class="tab-pane fade" id="searching_record3-pane" role="tabpanel" aria-labelledby="searching_record3" tabindex="0">
          {% include 'users/tab7.html' %}
      </div>
      <div class="tab-pane fade" id="searching_record4-pane" role="tabpanel" aria-labelledby="searching_record4" tabindex="0">
          {% include 'users/tab8.html' %}
      </div>
    </div>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock container %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<script>
    $(document).ready(function() {
        $('#submit_btn').click(function(event){
             event.preventDefault(); //so that we stop normal form submit.
             $.ajax({
                 url: '{% url 'user_auth_api' %}', type: 'post',
                 dataType: 'json',
                 data: $('form#auth_form').serialize(),
                 success: function(data) {
                     alert(data);
                 }
             });
        });
    });

</script>

{% endblock js %}