{% extends "bases/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    會員編輯
{% endblock %}

{% block container %}
<a href="{% url 'user_list' %}" class="btn btn-warning"><i class="fas fa-arrow-left fa-1x"></i></a>
<div class="large-box" style="padding: 20px 0px;">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="member_info" data-bs-toggle="tab" data-bs-target="#member_info-pane" type="button" role="tab" aria-controls="member_info-pane" aria-selected="true">會員資料</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="car_visible" data-bs-toggle="tab" data-bs-target="#car_visible-pane" type="button" role="tab" aria-controls="car_visible-pane" aria-selected="false">可視車單資料</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="login_record" data-bs-toggle="tab" data-bs-target="#login_record-pane" type="button" role="tab" aria-controls="login_record-pane" aria-selected="false">登入紀錄</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="postponed_record" data-bs-toggle="tab" data-bs-target="#postponed_record-pane" type="button" role="tab" aria-controls="postponed_record-pane" aria-selected="false">到期日展延紀錄</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="searching_record" data-bs-toggle="tab" data-bs-target="#searching_record-pane" type="button" role="tab" aria-controls="searching_record-pane" aria-selected="false">車單搜尋紀錄</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="searching_record2" data-bs-toggle="tab" data-bs-target="#searching_record2-pane" type="button" role="tab" aria-controls="searching_record2-pane" aria-selected="false">定位資料上傳紀錄</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="searching_record3" data-bs-toggle="tab" data-bs-target="#searching_record3-pane" type="button" role="tab" aria-controls="searching_record3-pane" aria-selected="false">定位照片上傳紀錄</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="searching_record4" data-bs-toggle="tab" data-bs-target="#searching_record4-pane" type="button" role="tab" aria-controls="searching_record4-pane" aria-selected="false">車單下載紀錄</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="member_info-pane" role="tabpanel" aria-labelledby="member_info" tabindex="0">
          <div class="pt-4">
              {% include 'users/tab1.html' %}
          </div>
      </div>
      <div class="tab-pane fade" id="car_visible-pane" role="tabpanel" aria-labelledby="car_visible" tabindex="1">
          <div class="pt-4">
              {% include 'users/tab2.html' %}
          </div>
      </div>
      <div class="tab-pane fade" id="login_record-pane" role="tabpanel" aria-labelledby="login_record" tabindex="2">
          {% include 'users/tab3.html' %}
      </div>
      <div class="tab-pane fade" id="postponed_record-pane" role="tabpanel" aria-labelledby="postponed_record" tabindex="3">
          {% include 'users/tab4.html' %}
      </div>
      <div class="tab-pane fade" id="searching_record-pane" role="tabpanel" aria-labelledby="searching_record" tabindex="4">
          {% include 'users/tab5.html' %}
      </div>
      <div class="tab-pane fade" id="searching_record2-pane" role="tabpanel" aria-labelledby="searching_record2" tabindex="5">
          {% include 'users/tab6.html' %}
      </div>
      <div class="tab-pane fade" id="searching_record3-pane" role="tabpanel" aria-labelledby="searching_record3" tabindex="6">
          {% include 'users/tab7.html' %}
      </div>
      <div class="tab-pane fade" id="searching_record4-pane" role="tabpanel" aria-labelledby="searching_record4" tabindex="7">
          {% include 'users/tab8.html' %}
      </div>
    </div>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock container %}

{% block js %}
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
{% endblock js %}

{% block ready %}
    $('[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
      var target = $(e.target).text() // activated tab
      //alert(e.target.id);
        //延長紀錄
        if(e.target.id=='postponed_record') {
            $.ajax({
                 url: '{% url 'postpone_record_api' %}', type: 'post',
                 dataType: 'json',
                 data: {"csrfmiddlewaretoken": "{{ csrf_token }}", "pk": {{ pk }}},
                 success: function(data) {
                     $('#postpone_record_html').html(data);
                 }
             });
        }

        //登入紀錄
        if(e.target.id=='login_record') {
            $.ajax({
                 url: '{% url 'login_record_api' %}', type: 'post',
                 dataType: 'json',
                 data: {"csrfmiddlewaretoken": "{{ csrf_token }}", "pk": {{ pk }}},
                 success: function(data) {
                     $('#login_record_html').html(data);
                 }
             });
        }

        //查詢紀錄
        if(e.target.id=='searching_record') {
            $.ajax({
                 url: '{% url 'search_record_api' %}', type: 'post',
                 dataType: 'json',
                 data: {"csrfmiddlewaretoken": "{{ csrf_token }}", "pk": {{ pk }}},
                 success: function(data) {
                     $('#search_record_html').html(data);
                 }
             });
        }

        //上傳定位紀錄
        if(e.target.id=='searching_record2') {
            $.ajax({
                 url: '{% url 'gps_upload_record_api' %}', type: 'post',
                 dataType: 'json',
                 data: {"csrfmiddlewaretoken": "{{ csrf_token }}", "pk": {{ pk }}},
                 success: function(data) {
                     $('#gps_upload_record_html').html(data);
                 }
             });
        }

        //上傳定位照片紀錄
        if(e.target.id=='searching_record3') {
            $.ajax({
                 url: '{% url 'photo_upload_record_api' %}', type: 'post',
                 dataType: 'json',
                 data: {"csrfmiddlewaretoken": "{{ csrf_token }}", "pk": {{ pk }}},
                 success: function(data) {
                     $('#photo_upload_record_html').html(data);
                 }
             });
        }

        //車單下載紀錄
        if(e.target.id=='searching_record4') {
            $.ajax({
                 url: '{% url 'car_download_record_api' %}', type: 'post',
                 dataType: 'json',
                 data: {"csrfmiddlewaretoken": "{{ csrf_token }}", "pk": {{ pk }}},
                 success: function(data) {
                     $('#car_download_record_html').html(data);
                 }
             });
        }
    });

    //會員權限設定
    $('#submit_btn').click(function(event){
         event.preventDefault(); //so that we stop normal form submit.
         $.ajax({
             url: '{% url 'user_auth_api' %}', type: 'post',
             dataType: 'json',
             data: $('form#auth_form').serialize(),
             success: function(data) {
                 alert(data);
             }
         });
    });

    //延長設定
    function setPostoned_date(d1) {
        var year = d1.getFullYear();
        var month = d1.getMonth() + 1;
        month = (month < 10?'0' : '') + month;
        var day = d1.getDate();
        day = (day < 10?'0' : '') + day;

        strDate = year + '-' + month + '-' + day;
        var is_save = confirm('是否要延長至'+strDate);
        if(is_save) {
             event.preventDefault(); //so that we stop normal form submit.
             $.ajax({
                 url: '{% url 'postponed_expire_api' %}', type: 'post',
                 dataType: 'json',
                 data: {"postponed_date": strDate, "csrfmiddlewaretoken": "{{ csrf_token }}", "pk": "{{ pk }}"},
                 success: function(data) {
                     alert(data);
                     $("#expire_date").val(strDate)
                 }
             });
        }
    }

    //延長加N個月
    $('#postponed_expire_date_for_months').click(function(){
        var d1 = new Date($("#expire_date").val());
        d1.setMonth(d1.getMonth()+parseInt($("#postponed_months").val()));
        setPostoned_date(d1);

    });

    //延長到月底
    $('#postponed_expire_date_for_monthend').click(function(){
        var vDate = new Date();
        var d1 = new Date(vDate.getFullYear(), vDate.getMonth()+1, 0);
        setPostoned_date(d1);
    });
{% endblock ready %}

{% block css %}
<style>
input[type='text']:read-only
{
    background-color: lightgrey;
}
</style>
{% endblock css %}