<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr class="text-center table-active">
            <th scope="col">序列</th>
            <th scope="col">登入時間</th>
            <th scope="col">登入IP</th>
        </tr>
    </thead>
    <tbody>
                                                                                                                                            <tr>
                    <th scope="row" class="text-center">4</th>
                    <td class="text-center">2022-02-22 17:07</td>
                    <td class="text-center">27.53.41.147</td>
                </tr>
                                                                                <tr>
                    <th scope="row" class="text-center">3</th>
                    <td class="text-center">2022-02-17 13:36</td>
                    <td class="text-center">27.51.42.98</td>
                </tr>
                                                                                <tr>
                    <th scope="row" class="text-center">2</th>
                    <td class="text-center">2022-02-14 09:08</td>
                    <td class="text-center">27.240.202.161</td>
                </tr>
                                                                                <tr>
                    <th scope="row" class="text-center">1</th>
                    <td class="text-center">2022-01-29 03:39</td>
                    <td class="text-center">125.227.225.170</td>
                </tr>
                                                                                                                                </tbody>
</table>