<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr class="text-center table-active">
            <th scope="col">序列</th>
            <th scope="col">操作人</th>
            <th scope="col">展延前到期日</th>
            <th scope="col">展延後到期日</th>
            <th scope="col">操作IP位置</th>
            <th scope="col">操作時間</th>
        </tr>
    </thead>
    <tbody>
                                                                                                                                            <tr>
                    <th scope="row" class="text-center">2</th>
                    <td class="text-center">99</td>
                    <td class="text-center">2023-01-31</td>
                    <td class="text-center">2023-12-31</td>
                    <td class="text-center">127.0.0.1</td>
                    <td class="text-center">2023-01-01 16:13</td>
                </tr>
                                                                                <tr>
                    <th scope="row" class="text-center">1</th>
                    <td class="text-center">99</td>
                    <td class="text-center">2022-12-30</td>
                    <td class="text-center">2023-01-31</td>
                    <td class="text-center">127.0.0.1</td>
                    <td class="text-center">2023-01-01 16:12</td>
                </tr>
                                                                                                                                </tbody>
</table>