{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'jquery-ui\jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.1.3\css\bootstrap.min.css' %}">
    <script src="{% static 'jquery\jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'jquery-ui\jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.1.3\js\bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fontawesome-5.4.2\css\all.css' %}">
</head>
<body>
{% for job in jobs %}
{{ job.status }}
{% endfor %}
{% if jobs %}
<table class="table table-bordered table-sm">
    <thead class="table-dark">
        <tr>
            <th style="width:2%">#</th>
            <th style="width:5%;text-align: center;">類型</th>
            <th style="width:10%">檔名</th>
            <th style="width:5%">總筆數</th>
            <th style="width:5%">新增筆數</th>
            <th style="width:12%">檔案上傳時間</th>
            <th style="width:10%">上傳者</th>
            <th style="width:12%">排程開始時間</th>
            <th style="width:12%">排程結束時間</th>
            <th style="width:5%">執行時間(s)</th>
            <th style="width:10%">狀態</th>
        </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
        <tr>
            <td class="text-center">
                {{ forloop.counter }}
            </td>
            <td class="text-center">
                {{ job.file_type }}
            </td>
            <td class="text-center">
                {{ job.file }}
            </td>
            <td>
                {{ job.count }}
            </td>
            <td>
                {{ job.success }}
            </td>
            <td>
                {{ job.create_at|date:'Y-m-d H:i' }}
            </td>
            <td>
                {{ job.create_by }}
            </td>
            <td>
                {{ job.start_time }}
            </td>
            <td>
                {{ job.end_time }}
            </td>
            <td>
                {{ job.exe_time }}
            </td>
            <td>
                {{ job.status }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
</body>
</html>