{% extends 'bases/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    定位資料
{% endblock %}
{% block container %}
    <div style="height: 600px">
        <fieldset class="scheduler-border pt-5 pb-5">
            <legend class="scheduler-border">上傳定位</legend>
            <form action="{% url 'gps_upload' %}" method="post" class="form-group font-weight-bold align-middle" id="car_form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ upload_form.as_p }}
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary" id="send" style="border-color: #28a745; background-color: #28a745; width: 100%;">點擊上傳定位資料(*.dbf)</button>
                </div>
            </form>
        </fieldset>
        <fieldset class="scheduler-border pb-5">
            <legend class="scheduler-border">下載定位</legend>
            <form action="{% url 'gps_download' %}" method="post" class="form-group font-weight-bold align-middle" id="car_form" enctype="multipart/form-data">
                {% csrf_token %}
                {% crispy download_form %}
                <p>
                <div style="text-align: center">
                    <button type="submit" class="btn btn-primary" id="send" style="border-color: #007bff; background-color: #007bff; width: 100%;">點擊下載定位資料(*.dbf)</button>
                </div>
            </form>
        </fieldset>
        <fieldset class="scheduler-border pb-5">
            <legend class="scheduler-border">刪除定位</legend>
            <form action="{% url 'gps_delete' %}" method="post" class="form-group font-weight-bold align-middle" id="car_form" enctype="multipart/form-data">
                {% csrf_token %}
                {% crispy download_form %}
                <p>
                <div style="text-align: center">
                    <button type="submit" class="btn btn-primary" id="send" style="border-color: #dc3545; background-color: #dc3545; width: 100%;" onclick="return confirm('確定要刪除資料?')">點擊刪除定位資料</button>
                </div>
            </form>
        </fieldset>
    </div>
{% endblock container %}
{% block js %}
    <script>
        if("{{ delete_result }}"=="True"){
            alert("刪除成功");
        }else if("{{ delete_result }}"=="False"){
            alert("刪除失敗");
        }else if("{{ delete_result }}"=="None"){
            alert("無刪除任何資料");
        }

    </script>
{% endblock js %}