{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base\css\app.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'fontawesome-5.4.2\css\all.css' %}">

    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    <link href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css" rel="Stylesheet" type="text/css" />

    <script>
        $(document).ready(function() {
               $('.datepicker').datepicker({
                   dateFormat: "yy-mm-dd",
               });
               {% block ready %}
               {% endblock ready %}
        });

        function search_form(){
           if(($('#enddate_start').val()!=''&&$('#enddate_end').val()=='')||($('#enddate_start').val()==''&&$('#enddate_end').val()!='')){
                alert("日期搜尋起跟迄都要有值");
                return false;
           }

           if(($('#chgdate_start').val()!=''&&$('#chgdate_end').val()=='')||($('#chgdate_start').val()==''&&$('#chgdate_end').val()!='')){
                alert("日期搜尋起跟迄都要有值");
                return false;
           }

           $('#search_form').submit();
        }

    </script>
    <style>
        .dropdown-menu[data-bs-popper] {
            top: 100%;
            margin-top: var(--bs-dropdown-spacer);
        }
    </style>
    {% block css %}
    {% endblock css %}
    {% block js %}
    {% endblock js %}
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="pr-5"><a class="navbar-brand" href="#">尋車助手Logo</a></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <div class="mx-auto pt-2" style="width: 500px;">
                <form class="d-flex" role="search" method="POST" action="{% url 'car_search' %}">
                    {% csrf_token %}
                    <select name="car_status" class="form-select me-2" id="car_status">
                        <option value="" {{ request.session.car_status_all }}>---------</option>
                        <option value="待  尋" {{ request.session.car_status_find }}>待 尋</option>
                        <option value="取  消" {{ request.session.car_status_cancel }}>取 消</option>
                    </select>
                    <input class="form-control me-2" type="search" name="keyword" placeholder="車牌或地址搜尋" aria-label="Search" value="{{ request.session.keyword }}">
                    <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </li>
        <li>
            <div class="pt-2 pl-4 pr-4" style="text-align: right">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#searchModal">
                  進階搜尋
                </button>
                <form role="search" method="POST" action="{% url 'car_search' %}" id="search_form">
                {% csrf_token %}
                <!-- Modal -->
                <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">進階搜尋</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <div class="row p-2">
                                    <div class="col-4" style="text-align: center">狀　　態：</div>
                                    <div class="col-8">
                                        <select name="car_status" class="form-select" id="car_status">
                                            <option value="" {{ request.session.car_status_all }}>---------</option>
                                            <option value="待  尋" {{ request.session.car_status_find }}>待 尋</option>
                                            <option value="取  消" {{ request.session.car_status_cancel }}>取 消</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-4" style="text-align: center">車牌&地址：</div>
                                    <div class="col-8"><input class="form-control me-2" type="search" name="keyword" placeholder="車牌或地址搜尋" aria-label="s_keyword" value="{{ request.session.keyword }}"></div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-4" style="text-align: center">顏　　色：</div>
                                    <div class="col-8"><input class="form-control me-2" type="search" name="carcolor" placeholder="顏色" aria-label="s_carcolor" value="{{ request.session.carcolor }}"></div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-4" style="text-align: center">年　　份：</div>
                                    <div class="col-8"><input class="form-control me-2" type="search" name="carage" placeholder="年份" aria-label="s_carage" value="{{ request.session.carage }}"></div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-4" style="text-align: center">動保迄日：</div>
                                    <div class="col-4"><input class="form-control me-2 datepicker" type="search" name="enddate_start" id="enddate_start" placeholder="動保迄日(起)" aria-label="s_enddate" value="{{ request.session.enddate_start }}"></div>
                                    <div class="col-4"><input class="form-control me-2 datepicker" type="search" name="enddate_end" id="enddate_end" placeholder="動保迄日(迄)" aria-label="s_enddate" value="{{ request.session.enddate_end }}"></div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-4" style="text-align: center">異動日期：</div>
                                    <div class="col-4"><input class="form-control me-2 datepicker" type="search" name="chgdate_start" id="chgdate_start" placeholder="異動日期(起)" aria-label="s_chgdate" value="{{ request.session.chgdate_start }}"></div>
                                    <div class="col-4"><input class="form-control me-2 datepicker" type="search" name="chgdate_end" id="chgdate_end" placeholder="異動日期(迄)" aria-label="s_chgdate" value="{{ request.session.chgdate_end }}"></div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                        <button type="button" class="btn btn-primary" onclick="search_form()">查詢</button>
                      </div>
                    </div>
                  </div>
                </div>
                </form>

            </div>
        </li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ user.username }}
      </button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" href="{% url 'index' %}">更新資訊</a></li>
        <li><a class="dropdown-item" href="{% url 'job_detail' %}">查詢紀錄</a></li>
        <li><a class="dropdown-item" href="{% url 'car_data_update' %}">車單資料</a></li>
        <li><a class="dropdown-item" href="{% url 'gps_data_update' %}">定位資料</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'user_list' %}">會員資料</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'setting' %}">系統設定</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'user_info' %}">帳號資料</a></li>
        <li><a class="dropdown-item" href="{% url 'logout' %}">登出</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid min-h-screen bg-gray-100">
    <div class="py-2">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                <div class="row">
                    <div class="col-12 p-4">
                      {% block container %}
                      {% endblock container %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>