{% extends 'bases/base.html' %}
{% block title %}
    更新資訊
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <table class="table table-striped">
                <tr>
                  <th>資料更新日期</th>
                  <td>{{ update_time }}</td>
                </tr>
                <tr>
                  <th>協尋數量</th>
                  <td>{{ find_count }}</td>
                </tr>
                <tr>
                  <th>新增數量</th>
                  <td>{{ row_count }}</td>
                </tr>
                <tr>
                  <th>當前資料總筆數</th>
                  <td>{{ all_count }}</td>
                </tr>
            </table>
        </div>
        <div class="col"></div>
    </div>

{% endblock container %}